<ion-header>
  <app-toolbar backButton="feed"></app-toolbar>
</ion-header>

<ion-content>
  <app-background></app-background>

  <h1 class="titulorojo">Sucursales</h1>

  <!-- Primer botón -->
  <ion-button class="botoncito2" expand="full">
    <ion-icon name="map"></ion-icon>
    <a routerLink="../sucursal1">Sucursal Santiago: Calle Monjitas</a>
  </ion-button>

  <!-- Segundo botón -->
  <ion-button class="botoncito2" expand="full">
    <ion-icon name="map"></ion-icon>
    <a routerLink="../sucursal2" >Sucursal Viña: Av. Libertad</a>
  </ion-button>

  <!-- Puedes agregar más botones según sea necesario -->

  <app-circle></app-circle>
  <app-patron class="patron"></app-patron>
</ion-content>
