.botoncito{
    z-index: 6;
    position: relative;
    width: 50%;
    margin: auto;
    padding-top: 5%;
    text-transform: none;
    font-weight: bold;
    font-size: 15px;
    --background: #ffffff;
    transform: translateY(145px);
    --border-radius: 38px;
    --border-color:#2DAD9D;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;

    --color: #5E17EB;
    height: 60px;

    

    
}

