/*  h1.tituloh1 {
    font-size: 250%;
    color: #5E17EB;
    transform: translateY(77px); 
}

.fondito {
    background: #3690b6; 
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
  */
  .app-header {
    background-color: #3690b6;
    color: #ffffff;
    padding: 16px ;
    margin-top: 7px;
    z-index: 0;
    font-size: 14px;

  }
  


  
  
  


  
  .ion-text-center {
    text-align: center;
    
  }
  
  .tituloh1 {
    font-size: 2.5em;
    margin-bottom: 10px; /* Ajusta el margen inferior según tus preferencias */
    color: #5E17EB;
    
  }
  