ion-toolbar {
    --background: #ffffff; 
}

.mi-toolbar {
    height: 6.8vh; 
    width: 77vw; 
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    top: -24px;
}