<ion-header>

  <app-toolbar></app-toolbar>

</ion-header>

<ion-content >
  <app-background></app-background>
  <app-header title="Nuestros" titlestrong=" servicios"></app-header>

  

  <ion-icon (click)="openModal()" class="principal-icon" name="person-circle-outline" ></ion-icon>

  <div class="" *ngIf="modalSwitch == true">

    <app-pop-up ruta="version"></app-pop-up>

  </div>


  <app-buttons routerLink="reparaciones" texto="Reparaciones">  </app-buttons>


  <app-buttons  routerLink="sucursales" texto="Sucursales">  </app-buttons>


  <app-circle></app-circle>
  <app-patron class="patron"></app-patron>
</ion-content>
