<ion-header >
 

  <app-toolbar  backButton="feed"></app-toolbar>


</ion-header>

<ion-content>

  <app-background></app-background>
  <app-header titlestrong="Versión"></app-header>



  <p class="ion-text-center" style="position: relative; z-index: 10; transform: translateY(120px);">
    Desarrollada por Diego Sánchez, <br>Tomás Figueroa, Sebastian Luarte <br>
    <strong>Versión beta 0.0.3</strong>
  </p>



  <app-circle></app-circle>
  <app-patron class="patron"></app-patron>


</ion-content>
